.upload-img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .upload-img-item-default {
    border: 1px solid #eae9e5;
  }
  .upload-img-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 12px;
    margin-top: 8px;
    overflow: hidden;
    position: relative;
    .upload-img-item-img {
      width: 100%;
      height: 100%;
      display: block;
    }

    .upload-img-item-default-img {
      width: 34px;
      height: 26px;
      display: block;
    }
  }
  .upload-img-item-none {
    // border: 1px solid #eae9e5;
    box-sizing: border-box;
    width: 100px;
    height: 80px;
    margin-top: 8px;
  }
  .upload-img-item-del-box {
    background: #00000066;
    width: 20px;
    height: 20px;
    border-radius: 0 0 0 8px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .upload-img-item-del {
      width: 8px;
      height: 8px;
      display: block;
    }
  }
}
